.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 18px;
  svg {
    font-size: 120px;
    opacity: 0.1;
  }
  span {
  }
  .return-cta {
    outline: 0;
    border: 0;
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 13px;
    color: white;
    background: #8e2de2;
    border-bottom: 3px solid #6516aa;
    svg {
      margin-right: 10px;
    }
  }
  .cart_count {
    position: absolute;
    border-radius: 50%;
    background-color: #0c8bec;
    width: 14px;
    height: 14px;
    right: -8px;
    top: -8px;
    content: "5";
    text-align: center;
    line-height: 15px;
    font-size: 10px;
    color: #fff;
  }
}
