.sticky-header {
  /* background-color: rgba(153, 158, 158, 0.986); */
  background-color: #ecfdff;
  color: white;
  position: sticky;
  top: 0;
  transform: translateY(-60px);
  animation: StickyHeader 0.3s ease forwards;
}

@keyframes StickyHeader {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}
